body {
  color: #333333;
  font-family: arial, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body div {
  flex-grow: 1;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

img {
  width: 250px;
}

footer {
  color: #888888;
  width: 77%;
  border-top: 1px solid #eeeeee;
  margin-bottom: 8px;
}

input {
  border: 0;
  border-bottom: 1px solid #cccccc;
  border-radius: 5px;
  padding: 8px
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  border-radius: 6px;
}